<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]--><!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"></html><![endif]--><!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <title>VUULO</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" rel="StyleSheet" href="{{ handler.static_url('css/site.css') }}"/>
  </head>
  <body id="ajax_layout"> 
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=201111950750";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    </script>
    <div id="wrap">
      <div id="content-product">
        <div id="main-product">
          <div id="user-thumb">
            <div class="user-photo"><img src="{{ handler.static_url('images/site/product-user.png') }}" class="img-profile"/></div>
            <div class="user-name">{{user.name}}</div>
            <div class="clear"></div>
        </div>

            {% if product.expired == True or product.expired == 'True' and is_owner == True %}
            <span class="span">I {% if product.type == 'want' %} WANT</span>{% else %}HAVE{% endif %} | This post has expired</div>

                {% if product.allow_charities == True or product.allow_charities == 'True'  %}

                    {% if product.type == 'have' %}
                            Do you want donate it to charities?
                            <a href="{{ handler.reverse_url('home') }}" target="_parent" id="btn_charity_yes" >Yes</a>
                            <a href="#" id="btn_delete" >No</a>
                    {% else %}
    
                        <a href="{{ handler.reverse_url('product_edit', product.slug) }}" class="product-edit" target="_parent">Renew this post?</a>
                        <a href="#" id="btn_delete" >Retire this post</a>

                    {% endif %}

                {% else %}
                    <a href="{{ handler.reverse_url('product_edit', product.slug) }}" class="product-edit" target="_parent">Renew this post?</a>
                    <a href="#" id="btn_delete" >Retire this post</a>
                {% endif %}

            {% else %}
          <div id="product">
            <div class="tit-product"> 
              {% if is_owner %}<a href="{{ handler.reverse_url('product_edit', product.slug) }}" class="product-edit" target="_parent">Edit product</a>
              {% endif %}
              <span class="span">I {% if product.type == 'want' %} WANT</span>{% else %}HAVE{% endif %} {{ product.title }}</div>
              <img id="img-product" src="{{ product.image }}" width="4000"/>
            <div id="buttons-social"><a href="{{handler.reverse_url('user_have_products')}}?id=%id%" class="btn-ihave">I HAVE this!</a>
              <div class="button"><a href="http://pinterest.com/USERNAME/" target="_blank"><img src="http://passets-ec.pinterest.com/images/about/buttons/pinterest-button.png" width="65" height="20" alt="Follow Me on Pinterest"/></a></div>
              <div class="button"><a href="https://twitter.com/share" data-count="none" class="twitter-share-button">Share</a></div>
              <div class="button">
                <g:plusone size="medium"></g:plusone>
              </div>
              <div class="button">
                <div data-send="false" data-layout="button_count" data-width="170" data-show-faces="false" class="fb-like"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>{% if user %}
            {% if not is_owner %} 
            <div style="display: block" class="single">
              <div class="user-conversacion">{% for item in comments %}
                <div class="box-user-data">
                  <div class="box-user-data">
                    <img src="../static/images/site/product-user.png" class="box-user-img"/>
                    <div class="box-user-name">{{user.name}} Said:</div>
                    <div class="box-txt">{{item.text}}</div>
                  </div>
                  
                  <div class="clear"> </div>
                </div>{% endfor %}
                <form action="{{ handler.reverse_url('product_send_message', product.slug) }}" method="post" class="box-comment">{{ xsrf }}
                  <input type="hidden" name="product_id" value="{{ product.id }}"/>
                  <textarea placeholder="Send a message to this user." name="message" class="textarea"></textarea>
                  <input type="submit" value="SEND" class="submit"/>
                </form>
              </div>
            </div>{% else %}
            <div class="tit-converacion">CONVERSATIONS</div>
            <div class="notification">You have {{tot_unread_comments}} new messages</div>
            <div id="comments-user">{% for item in conversations %}
              <form action="{{ handler.reverse_url('product_send_message_owner', product.slug) }}" id="form_" class="box-comment" method="post">
                {{ xsrf }}
                <div class="comment-tit accordion-trigger"><img src="{{ handler.static_url('images/site/product-user2.png') }}" class="com-user"/><span class="com-name">{{item.user}}</span><span class="com-num">
                    {{ item.id }}
                    {{item.unread_comments}}    </span></div>
                <div class="comment-box accordion-content">
                  <div class="comment">{% for c in item.comments %}
                    <div class="com-user">{% if c.is_owner|int == 1  %}<img src="{{ handler.static_url('images/site/product-user2-1.png') }}"/>{% else %}<img src="{{ handler.static_url('images/site/product-user3-1.png') }}"/>{% endif %}
                      <div class="com-user-txt">{{c.text}}</div>
                    </div>{% endfor %}
                    <div class="com-write">
                      <input id="conversation_id" type="hidden" name="conversation_id" value="{{ item.id }}"/>
                      <textarea placeholder="Send a message to this user." name="message" class="textarea"></textarea>
                      <input type="submit" value="Send" class="submit"/>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>{% endfor %}
              </form>
            </div>{% endif %}
            {% endif %}

            

            <div class="clear"></div>
          </div>
        </div>
        <div id="sidebar-product">
          <div class="tit-product">Product Details</div>
          <div class="side-txt">{{ product.description }}</div>
          <div class="side-txt"><strong>Categories:</strong></div>
          <div class="side-categories">        
            <ul>
               
              {% for c in product.data_categories %}
              <li><a href="" class="category-link">{{ c.title}}</a></li>{% else %}
              <li>Category no found</li>{% endfor %}
            </ul>
            <div class="clear"> </div>
          </div>
          <div class="side-txt"><strong>Price: </strong>{{product.cost}}</div>
          <div class="side-txt">                                                                                                                                        <strong>Location: </strong>{{product.location}}</div>
          <div class="side-txt"><strong>Audience: </strong>{{product.audience}} </div>
          <div class="side-txt"><strong>Status: </strong>{{product.expire_days}}
            <div class="clear"></div>
          </div>
          <div id="user-want">{% if product.matches_want %}
            <div class="users-want-tit">Users WANT the same</div>
             <div class="users-want-thumbs">{% for item in product.matches_want %}
              <div class="user-thumb"><a href="{{ handler.reverse_url("product", item.slug)  }}"><img src="{{ item.image }}" width="60" height="60"/></a></div>{% endfor %}
              <div class="clear"></div>
            </div>{% endif %}
          </div>
          <table class="table-matches">
            <tr>
                <td class="title"  colspan="2">Matches</td>
            </tr>

            {% for notification in product.notifications %}
            <tr>
                <td class="user-name">{{ notification.user }}</td>
                <td class="user-name"><img src="{{ notification.image }}" style="width:50px;height:40px;"></td>
                <td class="user-option">
                <a href="#" id="{{ notification.id }}" class="class_btn_active_match" >Si</a>
                  <a href="">No</a>
                </td>
            </tr>
            {% endfor %}

            
        </table>
    </div>


            {% endif %}

        <div class="clear">         </div>
      </div>
    </div>
    <script type="text/javascript">
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      
    </script>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js';      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();  
      
    </script>
    <script src="{{ handler.static_url('js/libs/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ handler.static_url('js/site.product.index.js') }}" type="text/javascript"></script>

<script type="text/javascript">
$(".class_btn_active_match").click(function(){

        var self = $(this);
        id = self.attr('id');
        //alert(self);
        //alert(self.parent().parent().type);

    //alert(id)
    data = { id: id}
    
    $.ajax({
        type: 'post',
        dataType: 'json',
        url: '{{ handler.reverse_url("active_match") }}',
        data: data,
        complete: function() {
          //loading.dialog('close');
        },
        success: function(r) {
            if (r && r.status_code === 0) {
                alert('match done')
                //window.parent.location.href = '{{ handler.reverse_url("home") }}'
                //window.parent.lo
            }else{
                alert('error')
                /*
                if (r.status_code == 1){
                    $('#delete_message').html('error delete')
                }
                */
            }
        }
    });
});
</script>


<script type="text/javascript">
$("#btn_delete").click(function(){
    email = $('#email').val()
    password = $('#password').val()

    data = { email: email, password: password}

    $.ajax({
        type: 'post',
        dataType: 'json',
        url: '{{ handler.reverse_url("product_delete", product.id) }}',
        data: data,
        complete: function() {
          //loading.dialog('close');
        },
        success: function(r) {
            if (r && r.status_code === 0) {
                alert('product deleted')
                window.parent.location.href = '{{ handler.reverse_url("home") }}'
            }else{
                if (r.status_code == 1){
                    $('#delete_message').html('error delete')
                }
            }
        }
    });
});
</script>


  </body>
</html>
