<!DOCTYPE HTML>


<html>

    <head>
        <title>VUULO SITE</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    </head>
    <body>

        <a href="#">Add User</a>

        {% block content  %} {% endblock %}

    </body>


</html>
