{% extends "site/layout.html" %}

{% block content %}
      <div id="homepage">
        <div id="content-sidebar" class="{% if not user %}only{% endif %}">
           {% if user %}
          <br>
          <table id="user-points">
              <tr>
                  <td colspan="2" class="title">Points</td></tr>
              <tr>
                  <td>Matching</td><td>{{ user.points.matching|default(0) }}</td></tr>
              <tr>
                  <td>Charity</td><td>{{ user.points.charity|default(0) }}</td></tr>
              <tr>
                  <td>items</td><td>{{ user.points.products|default(0) }}</td></tr>
              <tr class="total-points">
                  <td>Total</td><td>{{ user.points.total|default(0) }}</td></tr>
          </table>
          <br />
          <br />
          {% endif %}

          {% if user %}
          <ul>
            <li class="nav"><a href="{{ handler.reverse_url('profile') }}">My Profile</a></li>
            <li class="nav"><a href="">Notifications</a></li>
          </ul>
          <div id="tools_items"><a id="btn_add_new" href="{{ handler.reverse_url('product_add') }}">add new item</a><a id="btn_match" href="#">click to match</a></div>{% else %}
          
          <div id="tools_items"><a id="btn_add_new" href="{{ handler.reverse_url('user_login') }}">add new item</a><a id="btn_match_" href="{{ handler.reverse_url('user_login') }}">click to match</a></div>{% endif %}
          <div id="categories" class="box-one">
            <div class="box-content">
              <div class="box-inner">
                <h3 class="title">Browse</h3>
                <div class="clear"></div>{% set items  = categories|length // 2 %}
                {% set dot =  categories|length % 2 %}
                <ul class="column-first">
                  <li class="nav"><a href="{{ handler.reverse_url('home') }}"><strong>GENERAL</strong></a></li>{% for item in categories[0:items+dot] %}
                  <li class="nav"><a href="{{ handler.reverse_url('home_category', item.slug) }}">{{item.title}}</a></li>{% endfor %}
                </ul>
                <ul class="column-last">{% for item in categories[items+dot:categories|length] %}
                  <li class="nav"><a href="{{ handler.reverse_url('home_category', item.slug) }}">{{item.title}}</a></li>{% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="content-main" class="{% if not user %}only{% endif %}">
          <div id="product_detail"></div>
          <div id="want_group" class="box-game first">
            <div class="box-drop">
              <div class="boxdrop-tit usert js-drop-trigger"></div>
              <div style="display:none" class="boxdrop-list">
                <div class="boxdrop-list-cont">
                  <ul class="droplist">
                    <li data-href="{{ handler.reverse_url('search') }}?type=want" class="dropli js-drop-option active"><span>users want</span></li>
                    <li class="dropli js-drop-option"><span>users in your group want</span></li>
                    <li data-href="{{ handler.reverse_url('search') }}?type=want&amp;allow_charities=1" class="dropli js-drop-option"><span>charities want</span></li>
                    <li data-href="{{ handler.reverse_url('search') }}?type=want&amp;user=1" class="dropli js-drop-option"><span>I want</span></li>
                  </ul>
                </div>
                <div class="listfoot"></div>
              </div>
            </div>
            <div class="box-options">
              <div class="loader"></div>
              <input id="want_product" name="want" style="display:none"/>
            </div>
          </div>
          <div id="have_group" class="box-game">
            <div class="box-drop">
              <div class="boxdrop-tit userw js-drop-trigger"></div>
              <div style="display:none" class="boxdrop-list">
                <div class="boxdrop-list-cont">
                  <ul class="droplist">
                    <li data-href="{{ handler.reverse_url('search') }}?type=have" class="dropli js-drop-option active"><span>users have</span></li>
                    <li class="dropli js-drop-option"><span>users in your group have</span></li>
                    <li data-href="{{ handler.reverse_url('search') }}?type=have&amp;allow_charities=1" class="dropli js-drop-option"><span>charities have</span></li>
                    <li data-href="{{ handler.reverse_url('search') }}?type=have&amp;user=1" class="dropli js-drop-option"><span>I have</span></li>
                  </ul>
                </div>
                <div class="listfoot"></div>
              </div>
            </div>
            <div class="box-options">
              <div class="loader"></div>
              <input id="have_product" name="have" style="display:none"/>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script id="product_image" type="text/html">
      <div data-index="%index%" class="imgscroll %class%">
        <div class="imgscroll-item"><img src="%image%"/><a href="{{ handler.reverse_url('product', '%slug%') }}" class="detail show-detail">see details</a></div>
      </div>
    </script>
    <script id="product_detail_template" type="text/html">
      <div class="product-detail">
        <div class="pdi1"></div>
        <div class="pdi2">
          <div class="inner">
            <div class="category">%categories%</div><a href="{{ handler.reverse_url('product', '%slug%') }}" class="username">%username%</a>
            <div class="description">%description%</div>
            <ul class="extras">
              <li>will pay up to <strong>$%pay%</strong></li>
              <li>will travel <strong>%travel% miles</strong></li>
              <li>expires in <strong>%expire% days</strong></li>
            </ul>
          </div>
        </div>
        <div class="pdi3">
          <div class="social"><a class="facebook"></a><a class="twitter"></a><a class="pinterest"></a></div>
          <a href="{{handler.reverse_url('user_have_products')}}?id=%id%" rel="%id%" class="%classbtn%" >I want this</a>

        </div>
      </div>
    </script>
    <script type="text/javascript">
      _want_products = [
      {% for product in products_want %}
        {
          slug: "{{ product.slug }}",
          categories: "{% for p in product.data_categories %}{{ p.title }} {% endfor %}",
          username: "{{ product.data_user.name|default('Undefined') }}",
          description: "{{ product.description|striptags|e }}",
          id: "{{ product.id }}",
          pay: '{{ product.cost }}',
          travel: '{{ product.will_travel }}',
          expire: '{{ product.expire_at|default(0) }}',
          image: '{{ product.image }}'
        }{% if not loop.last %},{% endif %}
      {% endfor %}
      ];
      _have_products = [
      {% for product in products_have %}
        {
          slug: "{{ product.slug }}",
          categories: "{% for p in product.data_categories %}{{ p.title }} {% endfor %}",
          username: "{{ product.data_user.name|default('Undefined') }}",
          description: "{{ product.description|striptags|e }}",
          id: "{{ product.id }}",
          pay: '{{ product.cost }}',
          travel: '{{ product.will_travel }}',
          expire: '{{ product.expire_at|default(0) }}',
          image: '{{ product.image }}'
        }{% if not loop.last %},{% endif %}
      {% endfor %}
      ];
      
    </script>
    <script src="{{ handler.static_url('js/libs/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ handler.static_url('js/libs/jqueryui.js') }}" type="text/javascript"></script>
    <script src="{{ handler.static_url('js/libs/mobiscroll-2.0.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ handler.static_url('js/site.home.js') }}" type="text/javascript"></script>

{% endblock %}
