<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]--><!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"></html><![endif]--><!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <title>VUULO</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" rel="StyleSheet" href="{{ handler.static_url('css/site.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ handler.static_url('themes/smoothness/jquery-ui-1.8.21.custom.css') }}"/>
  </head>
<body>
    <div id="wrap">
        <div id="header">
        <div id="logo">
            <a href="../"><img src="{{ handler.static_url('images/site/vuulo-logo.png') }}" class="logo-vuulo"/></a>
            </div>
        <div id="user_tools">
            <a id="btn_iphoneapp" href="" class="tool">Get the IPhone app!</a>
        </div>
           
        <div id="drop-login">
            {% if user %}
            <a id="btn_logout" href="{{ handler.reverse_url('user_logout') }}" class="tool"></a>
            {% else %}
            <a id="btn_login" href="#" class="tool view-loginbox"></a>
            
            <div id="login-box">
                <form method="post" name="form_login" id="form_login">
    
                    <span style="color:red" id="login_message"></span>

                    <table id="table-login">
                      <tr>
                        <td class="label">email</td>
                        <td> 
                          <input type="text" name="email" id="email" value="" class="login-itext"/>
                        </td>
                      </tr>
                      <tr>
                        <td class="label">password</td>
                        <td> 
                          <input type="password" name="password" id="password" value="" class="login-itext"/>
                        </td>
                      </tr>
                      <tr>
                        <td> </td>
                        <td> 
                          <input type="button" id="submit_login" value="ENTER" />
                        </td>
                      </tr>
                      <tr>
                        <td> </td>
                        <td> <a href="{{ handler.reverse_url('user_login_facebook') }}">FACEBOOK CONNECT</a></td>
                      </tr>
                    </table>
                </form>
              </div>
            {% endif %}
            <div class="clear"></div>
            </div>
        

        <div class="header-user-links" align="right">
            {% if not user %}
                <a href="{{ handler.reverse_url('user') }}">Sign up</a>
                | <a href="{{ handler.reverse_url('user_forgot_password') }}">Forgot password</a>
            {% else %}
                Welcome {{ user.name }} | 
            {% endif %}

            {% if user %}

                <a href="{{ handler.reverse_url('profile') }}">Profile</a>
                | <a href="{{ handler.reverse_url('product_add') }}">Add product</a>
                | <a href="{{ handler.reverse_url('home') }}">Home</a>

            {% endif %}
        </div>

        <!--#search-->
        <!--input#search_input( type='text', value='', placeholder='items, categories, groups' )-->
        <!--button#search_submit( type='submit' ) Search-->{% if user %}<a id="tutorial" href="">Check out our video tutorial</a>
        <a id="tutorial_points" href="">you have {{ user.pints }} points</a>
        {% endif %}
      </div>

    <div id="content">{% block content %}{% endblock %}</div>
</div>

<script type="text/javascript" src="{{ handler.static_url('js/libs/jquery-1.7.2.min.js') }}"></script>    
<script type="text/javascript" src="{{ handler.static_url('js/site.login.js') }}"></script>

<script type="text/javascript">
$("#submit_login").click(function(){
    email = $('#email').val()
    password = $('#password').val()

    data = { email: email, password: password}

    $.ajax({
        type: 'post',
        dataType: 'json',
        url: '{{ handler.reverse_url("user_login") }}',
        data: data,
        complete: function() {
          //loading.dialog('close');
        },
        success: function(r) {
            if (r && r.status_code === 0) {
                window.location.href = '{{ handler.reverse_url("home") }}'
            }else{
                if (r.status_code == 1){
                    $('#login_message').html('fill data')
                }else if (r.status_code == 2){
                    $('#login_message').html('auth failed')
                }
            }
        }
    });
});
</script>
</body>
