{% extends 'admin/base.html' %}
{% load i18n %}
 
{% block title %}{{ title }} | {% trans 'Some Organisation' %}{% endblock %}
 
{% block branding %}
<style type="text/css">
  #header
  {
    /* your style here */
  }
</style>
<h1 id="site-name">{% trans 'VUULO' %}</h1>
{% endblock %}
 
{% block nav-global %}{% endblock %}
