{% extends "site/layout.html" %}

{% set user = user|default %}
{% set action = action|default %}


{% block content %}

{% if status_code %}
    <span style="color:red">
    {% if status_code == 1 %}
        Fill all data
    {% elif status_code == 2 %}
        password is not equal confirm password
    {% elif status_code == 3 %}
        Email invalid
    {% elif status_code == 4 %}
        Gender invalid
    {% elif status_code == 5 %}
        Exist email
    {% elif status_code == 6 %}
        Failed save
    {% elif status_code == 7 %}
        you will need to confirm the email address
    {% elif status_code == 8 %}
        update ok
    {% endif %}
    </span>
{% endif %}

<h2> {% if user %} User Profile {% else %} Register {% endif %}</h2>
<br />
<br />

<form method="post">
    <table width="30%">
        <tr>
            <td>Email</td>
            <td>{% if not user %}<input type='text' name='email' value='{{ user.email }}'/>{% else %}{{ user.email }} {% endif %}<td/>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type='text' name='name' value='{{ user.name }}' /><td/>
        </tr>
        <tr>
            <td>Lastname</td>
            <td><input type='text' name='lastname' value='{{ user.lastname }}' /><td/>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select name='gender'>
                    {% if not user %}
                        <option value='active'>[choose]</option>
                    {% endif %}
                    <option value='male' {% if user.gender == 'male' %} selected {% else %} {% endif %}  >male</option>
                    <option value='female' {% if user.gender == 'female' %} selected {% else %} {% endif %} >female</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>{% if user %} New password {% else %} password {% endif %}</td>
            <td><input type='password' name='password' value='' /><td/>
        </tr>
        <tr>
            <td>Confirm password</td>
            <td><input type='password' name='confirm_password' value='' /><td/>
        </tr>
        <tr>
            <td></td>
            <td><input type='submit'><td/>
        </tr>


</form>
{% endblock %}
