<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]--><!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"></html><![endif]--><!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <title>VUULO</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" rel="StyleSheet" href="{{ handler.static_url('css/site.css') }}"/>
  </head>
  <body> 
    <div id="wrap">
      <div id="header">
          <div id="logo"><img src="{{ handler.static_url('images/site/vuulo-logo.png') }}" class="logo-vuulo"/></div>


      </div>{% if status_code %}<span>
        {% if status_code == 1 %}
        fill all data
        {% elif status_code == 2 %}
        Password is not equal confirm password
        {% elif status_code == 3 %}
        No update
        {% elif status_code == 4 %}
        Password changed
        {% endif %}</span>{% endif %}
      <h2>Change password</h2>
      <form method="post">
        <table>
          <tr>
            <td>new password</td>
            <td>
              <input type="password" name="password" value=""/>
            </td>
          </tr>
          <tr>
            <td>Confirm password</td>
            <td>
              <input type="password" name="confirm_password" value=""/>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
