{% extends "site/layout.html" %}

{{ action }}

{% block content %}

{% if status_code %}

    <span style="color:red">
    {% if status_code == 1 %}
        invalid email
    {% elif status_code == 2 %}
        email no exist
    {% elif status_code == 3 %}
        Check your email
    {% endif %}
    </span>
{% endif %}

<h2>Forgot password</h2>

<form method="post">

    <table>
        <tr>
            <td>email</td>
            <td><input type='text' name='email' value='' /><td/>
        </tr>
        <tr>
            <td></td>
            <td><input type='submit'><td/>
        </tr>
</form>

{% endblock %}
