<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]--><!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"></html><![endif]--><!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <title>VUULO</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" rel="StyleSheet" href="{{ handler.static_url('css/site.css') }}"/>
    <script type="text/javascript" src="{{ handler.static_url('js/libs/jquery-1.7.2.min.js') }}"></script>
  </head>

  <body class="pag-user-have-want">

<div id="wrap-user-products">

    <!--
    <h3 class="user-products-tit">User products</h2>
    <div class="user-products-name">User name</div>
    -->


    <div id="user-products">

    {% for x in products %}
    <div class="product" data-id='{{ x.id }}'>
        <a href="" class="product-link">
        <img src="{{ x.image }}" class="product-img" style="width:181px;height:181px;">
        <h4 class="product-name">{{ x.title }}</h4>
        </a>
    </div>
    {% endfor %}


<script type="text/javascript" src="{{ handler.static_url('js/site.productsid.js') }}"></script>


    <div class="clear"></div>
    </div>
</div>
</body>


