{% extends "site/base.html" %}

{% block content %}

<h2>Web users</h2>

<table border="1">
    <tr>
        <th>Nombre</th>
    </tr>
    {% for x in users %}
    <tr>
        <td> {{ x }} </td>
    </tr>
    {% endfor  %}
</table>


        <!-- Next/Prev page links  -->
        {% if users.object_list and users.paginator.num_pages > 0 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if users.has_previous %}
                    <a href= "?page={{ users.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ users.number }} of {{ users.paginator.num_pages }}
                </span>

                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}


{% endblock %}


<script>
$(document).ready(function()
{
  //for div
  $("div:odd").css("background-color", "#F4F4F8");
  $("div:even").css("background-color", "#EFF1F1");

  //for table row
  $("tr:even").css("background-color", "#F4F4F8");
  $("tr:odd").css("background-color", "#EFF1F1");
});
</script>

