{% extends "layout.html" %}


{% block content %}

<h4> Profile</h4>
<form method="post">
    <table width="30%">
        <tr>
            <td><img src="{{ handler.static_url('images/site/product-user2.png') }}"/></td>
            <td><h2>User name</h2></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>email@dominio.html<td/>
        </tr>
        <tr>
            <td>Name</td>
            <td>nombre de usuario<td/>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>Apellidos<td/>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Masculino</td>
        </tr>

</form>

{% endblock %}
