<h2>Web user DETAIL</h2>

<table border="1">
    <tr>
        <th>Nombre</th>
        <td>{{ data.name }}</td>
    </tr>
    <tr>
        <th>Lastname</th>
        <td>{{ data.status }}</td>
    </tr>
</table>
